@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');


html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }
    
    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        transition: 0.3s;
    }
}

.btn-yellow-wide {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    width: 460px;
    
    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }
    
    
    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
        transition: 0.3s;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }
    
    &:hover {
        background-color: #FFFFFF;
        border: 1px solid #191919;
        color: #191919;
        transition: 0.3s;
    }
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }
    
    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.section-title {
    padding-top: 70px;
    padding-bottom: 40px;
    
    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }
    
    p {
        color: #F94D1C;
        margin-bottom: 8px;
    }
    
    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}

header {
    background-color: #F0EFE9;
    padding: 16px;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
        
        .menu-bars {
            border: none;
            font-size: 25px;
            background-color: transparent;
            
            @media (min-width: 992px) {
                display: none;
            }
        }
        
        .menu {
            display: none;
            flex: 1;
            
            @media (min-width: 992px) {
                display: block;
            }
            
            .top-menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 10px;
                
                @media (min-width: 1200px) {
                    justify-content: space-between;
                }
                
                .contact-info {
                    display: none;
                    align-items: center;
                    
                    @media (min-width: 1200px) {
                        display: flex;
                    }
                    
                    .content-box {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;
                        
                        i {
                            margin-right: 5px;
                            font-size: 1.2em;
                        }
                        
                        &.last {
                            border: none;
                        }
                    }
                }
                
                .social-media {
                    a {
                        color: #191919;
                        font-size: 1.3rem;
                        margin-left: 10px;
                        
                        &:hover {
                            color: #7c7c7c;
                        }
                    }
                }
            }
            
            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                
                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;
                        
                        &.active {
                            font-weight: 500;
                        }
                        
                        &.active::after,
                        &:hover::after {
                            content: '';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }
                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }
}

.showcase {
    background-color: #F0EFE9;
    
    .container {
        display: flex;
        justify-content: space-between;
        
        
        
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            
            @media (min-width: 1200px) {
                text-align: left;
            }
            
            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;
                
                @media (min-width: 768px) {
                    font-size: 70px;
                }
                
                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }
            
            p {
                font-size: 18px;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;
                
                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
            
            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;
                
                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }
        
        img {
            display: none;
            max-width: 100%; /*La till för att garantera att bilden inte blir större än sin container.*/
            margin-right: -50px;
            
            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}

.brands-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 88px;
    margin-bottom: 126px;

    // https://developer.mozilla.org/en-US/docs/Web/CSS/flex
    .brand-item {
        flex: 0 0 calc(20% - 30px); 
        max-width: calc(20% - 30px); 

        img {
            max-width: 100%;
            height: auto;
        }
    }
}


.features-section {
    border: 1px solid #DAD9D3;
    margin: 50px 10px; 

    
    @media (min-width: 820PX) {

    }


    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: 1600px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: left;
        margin: 0px 100px;
        padding: 80px 0px;
    }
    
    .features-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 5px;
        
        @media (min-width: 1200px) {
            align-items: left;
            margin-left: 160px;
            margin-bottom: 200px;
            max-width: 460px;
        }

        @media (min-width: 1600px) {
            align-items: left;
            text-align: left;
            
            p {
                align-self: left;
            }
        }

        p {
            color: #F94D1C;
            margin-bottom: 35px;
            
        }
        
        h3 {
            font-family: 'DM Sans', sans-serif;
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 35px;
        }
        
        a {
            text-align: center;
            align-self: center;
        }
    }
}

.advice {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 45px auto;
    padding: 20px;
    text-align: center;
    
    
    
    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-right: 130px;
        margin-right: 100px;
        text-align: left;
    }
    
    @media (min-width: 1600px) {
        
    }
    


    h3 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
    }
    
    i {
        font-size: 1.5rem;
        margin-top: 5px;
        margin-bottom: 30px;
    }
}










.project {
    .container {
        
        .section-title {
            text-align: center;
        }
        
        .project-cases {
            display: grid;
            grid-template-columns: 1fr ;
            gap: 30px;
            
            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }
            
            .articles {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                text-decoration: none;
                color: #191919;
                
                img{
                    width: 100%;
                    height: auto;
                }
                
                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                    
                }
                
                .read-more {
                    padding: 16px;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    text-decoration: none;
                    color: #191919;
                    
                    i {
                        margin-left: 2px;
                    }
                }
                
                &:hover .read-more {
                    // text-decoration: underline;
                    font-weight: 900;
                    
                }
                
                &:hover img {
                    transform: scale(0.97);
                    transition: 0.3s;
                }
            }
        }
        .btn-box {
            margin-top: 45px;
            margin-bottom: 90px;
        }
    }
}


