@use 'contact.scss';
@use 'style.scss';




.article-news {
  padding-bottom: 84px;
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .chevron-slider {
      display: flex;
      align-items: center;
    }
    
    .chevron {
      font-size: 16px;
      cursor: pointer;
      margin: 0 10px;
      max-width: 100%;
      border: 1px solid #707070;
      border-radius: 5px;
      padding: 5px 10px;
    }
    
    .slider {
      display: flex;
    }
    
    .slide {
      width: 10px;
      height: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: #191919;
      font-size: 16px;
      margin: 0px 5px;
      transition: transform 0.2s;
      border: 1px solid #707070;
      border-radius: 5px;
      padding: 15px 15px;
    }
    
    .slide.current {
      background-color: #191919; 
      color: #FFFFFF; 
      font-size: 16px; 
      transform: none; 
    }
    
    .content-news {
      display: grid;
      grid-template-columns: 1fr;
      
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}


.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  
  .squiggly-newsletter {
    position: absolute;
    bottom: 50px;
    right: 0;
  }
}
  